<!-- Template -->
<ng-template #tplCount let-count>
    <mat-card fxLayout="column" class="rogue-card" (click)="toggle_visibility(count.rogue_type)" [ngClass]="{'visible': count.display == true, 'not-visible' : count.display == false }" [style.border-color]="count.color">
        <mat-card-content fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="space-between">
                <span>{{count.title | uppercase}} <div style="height: 0.15em; width: 10em;"
                        [style.background-color]="count.color"></div></span>
                <span class="material-icons" *ngIf="count.display" style="color: black;">
                    visibility
                </span>
                <span class="material-icons" *ngIf="!count.display" style="color: black;">
                    visibility_off
                </span>
            </div>
            <div class="current-count" [ngClass]="{'no-rogues': count.rogue_type != 'others' && count.stats.now == 0, 'rogues' : count.rogue_type != 'others' && count.stats.now > 0 }">
                {{count.stats.now}}
                <span class="material-icons" *ngIf="count.rogue_type != 'others' && count.stats.now > 0">
                    warning
                </span>
            </div>
            <div class="compare-count">
                <div *ngIf="count.stats.now >= count.stats.last_week" fxLayout="row" fxLayoutAlign="flex-start">
                    <span class="material-icons" style="margin-right: 0.2em; font-size: large;">
                        trending_up
                    </span> {{count.stats.now - count.stats.last_week}} more than last week
                </div>
                <div *ngIf="count.stats.now < count.stats.last_week" fxLayout="row" fxLayoutAlign="center">
                    <span class="material-icons" style="margin-right: 0.2em; font-size: large;">
                        trending_down
                    </span> {{count.stats.last_week - count.stats.now}} less than last week
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</ng-template>

<!-- Display -->

<div fxLayout="row" style="height: 100%;">
    <div fxLayout="column" class="nav">
        <div>

            <mat-form-field appearance="standard" style="margin:auto; width: 70%;">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Wlan" #input>
            </mat-form-field>
        </div>
        <div>Configured</div>
    </div>
    <div fxLayout="column" fxLayoutAlign="stretch" style="margin-top: 0em; width: 100%; height: 100%;">
        <div fxLayout="row">
            <div fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="space-between center" style="padding: 0 16px;">
                    <ng-template *ngTemplateOutlet="tplCount; context: {$implicit:{title:'lan', rogue_type: 'lan', stats: stats.lan, display: display.lan, color: colors.lan}}">
                    </ng-template>
                    <ng-template *ngTemplateOutlet="tplCount; context: {$implicit:{title:'honeypot',rogue_type: 'honeypot', stats: stats.honeypot, display: display.honeypot, color: colors.honeypot}}">
                    </ng-template>
                    <ng-template *ngTemplateOutlet="tplCount; context: {$implicit:{title: 'spoof',rogue_type: 'spoof', stats: stats.spoof, display: display.spoof, color: colors.spoof}}">
                    </ng-template>
                    <ng-template *ngTemplateOutlet="tplCount; context: {$implicit:{title: 'detected aps', rogue_type: 'others', stats: stats.others, display: display.others, color: colors.others}}">
                    </ng-template>
                </div>
                <!-- Line Chart -->
                <mat-card style="height: 12em; position: relative; display: block; " class="chart dashboard-content">
                    <canvas baseChart style="height: 100%;" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [legend]="lineChartLegend" chartType="line">
                </canvas>
                </mat-card>
            </div>
            <!-- SCatter Chart -->
            <mat-card style="height: 23em; position: relative; display: block; width: 50%; " class="chart dashboard-content">
                <canvas baseChart [datasets]="scatterChartData" [options]="scatterChartOptions" [legend]="scatterChartLegend" [chartType]="scatterChartType">
              </canvas>
            </mat-card>
        </div>



        <mat-card class="dashboard-content table-parent-container">
            <mat-paginator #paginator [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" aria-label="Select page">
            </mat-paginator>
            <div class="table-container">
                <table mat-table [dataSource]="rogueDataSource" matSort>

                    <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

                    <!-- SSID Column -->
                    <ng-container matColumnDef="ssid">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> SSID </th>
                        <td mat-cell *matCellDef="let element"> {{element.ssid}} </td>
                    </ng-container>

                    <!-- BSSID Column -->
                    <ng-container matColumnDef="bssid">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> BSSID </th>
                        <td mat-cell *matCellDef="let element"> {{element.bssid}} </td>
                    </ng-container>

                    <!-- LAN Column -->
                    <ng-container matColumnDef="lan">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> LAN </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="material-icons table-rogue" *ngIf="element.rogue_type.lan">
                        warning
                    </span>
                        </td>
                    </ng-container>
                    <!-- HONEYPOT Column -->
                    <ng-container matColumnDef="honeypot">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> HONEYPOT </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="material-icons table-rogue" *ngIf="element.rogue_type.honeypot">
                        warning
                    </span>
                        </td>
                    </ng-container>
                    <!-- SPOOF Column -->
                    <ng-container matColumnDef="spoof">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> SPOOF </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="material-icons table-rogue" *ngIf="element.rogue_type.spoof">
                        warning
                    </span>
                        </td>
                    </ng-container>
                    <!-- FIRST SEEN Column -->
                    <ng-container matColumnDef="first_seen">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> FIRST SEEN </th>
                        <td mat-cell *matCellDef="let element"> {{element.first_seen | date}}
                            <span class="material-icons table-duration" *ngIf="element.duration>86400000 && (element.rogue_type.lan || element.rogue_type.honeypot || element.rogue_type.spoof)">
                                schedule
                            </span>
                        </td>
                    </ng-container>
                    <!-- CHANNEL Column -->
                    <ng-container matColumnDef="channel">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> CHANNEL </th>
                        <td mat-cell *matCellDef="let element"> {{element.channel}} </td>
                    </ng-container>

                    <!-- SITE Column -->
                    <ng-container matColumnDef="site_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> SITE </th>
                        <td mat-cell *matCellDef="let element"> {{element.site_name}} </td>
                    </ng-container>
                    <!-- RSSI Column -->
                    <ng-container matColumnDef="avg_rssi">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> AVG RSSI </th>
                        <td mat-cell *matCellDef="let element"> {{element.avg_rssi}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


                </table>
            </div>
        </mat-card>
    </div>
</div>