<!-- Template -->
<ng-template #tplCount let-count>
    <mat-card fxLayout="column" class="rogue-card" (click)="toggle_visibility(count.rogue_type)" [ngClass]="{'visible': count.display == true, 'not-visible' : count.display == false }" [style.border-color]="count.color">
        <mat-card-content fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="space-between">
                <div fxLayout="column">
                    <span>{{count.title | uppercase}}</span>
                    <span style="font-size: smaller;">Currently Active</span>
                </div>
                <span class="material-icons" *ngIf="count.display" style="color: black;">
                    visibility
                </span>
                <span class="material-icons" *ngIf="!count.display" style="color: black;">
                    visibility_off
                </span>
            </div>
            <div style="height: 0.15em; width: 100%;" [style.background-color]="count.color"></div>
            <div class="current-count" [ngClass]="{'no-rogues': count.rogue_type != 'others' && count.stats.now == 0, 'rogues' : count.rogue_type != 'others' && count.stats.now > 0 }">
                {{count.stats.now}}
                <span class="material-icons" *ngIf="count.rogue_type != 'others' && count.stats.now > 0">
                    warning
                </span>
            </div>
            <div class="compare-count">
                <div *ngIf="count.stats.now >= count.stats.last_week" fxLayout="row" fxLayoutAlign="flex-start">
                    <span class="material-icons" style="margin-right: 0.2em; font-size: large;">
                        trending_up
                    </span> {{count.stats.now - count.stats.last_week}} more than last week
                </div>
                <div *ngIf="count.stats.now < count.stats.last_week" fxLayout="row" fxLayoutAlign="center">
                    <span class="material-icons" style="margin-right: 0.2em; font-size: large;">
                        trending_down
                    </span> {{count.stats.last_week - count.stats.now}} less than last week
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</ng-template>

<!-- Display -->

<div fxLayout="row" style="height: 100%;">
    <!-- NAV  -->
    <div fxLayout="row" fxLayoutAlign="flex-end center" class="nav">
        <div fxLayout="row" fxLayoutAlign="start">
            <div fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="center center" style="margin: 0 2em;">
                    <span style="font-weight: 100; margin-right: .5em;">Last Sync:</span>
                    <span>{{account.last_rogue_process | date:'short'}}</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" style="margin: 0 2em;">
                    <span style="font-weight: 100; margin-right: .5em;">Next Sync:</span>
                    <span>{{account | nextday | date:'short'}}</span>
                </div>

            </div>
            <app-nav current="dashboard"></app-nav>
        </div>
        <div style="margin: 1em;" fxLayout="column">
            <button mat-stroked-button color="accent" (click)='back_to_orgs()'>Back to Orgs</button>
        </div>
    </div>
    <!-- MAIN  -->
    <div fxLayout="column" fxLayoutAlign="stretch" style="margin-top: 0em; width: 100%; height: 100%;">
        <div fxLayout="row" fxLayoutAlign="space-between">
            <div fxLayout="column" style="width: 50%;">
                <div fxLayout="row" fxLayoutAlign="space-between center" style="padding: 0 16px;">
                    <ng-template *ngTemplateOutlet="tplCount; context: {$implicit:{title:'lan', rogue_type: 'lan', stats: stats.lan, display: display.lan, color: colors.lan}}">
                    </ng-template>
                    <ng-template *ngTemplateOutlet="tplCount; context: {$implicit:{title:'honeypot',rogue_type: 'honeypot', stats: stats.honeypot, display: display.honeypot, color: colors.honeypot}}">
                    </ng-template>
                    <ng-template *ngTemplateOutlet="tplCount; context: {$implicit:{title: 'spoof',rogue_type: 'spoof', stats: stats.spoof, display: display.spoof, color: colors.spoof}}">
                    </ng-template>
                    <ng-template *ngTemplateOutlet="tplCount; context: {$implicit:{title: 'other aps', rogue_type: 'others', stats: stats.others, display: display.others, color: colors.others}}">
                    </ng-template>
                </div>
                <!-- Line Chart -->

                <mat-card class="dashboard-content chart" style="height: 12em; position: relative; display: block; margin-top: .54em">
                    <canvas baseChart style="height: 100%;" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [legend]="lineChartLegend" chartType="line">
                    </canvas>
                </mat-card>
            </div>
            <!-- SCatter Chart -->
            <mat-card class="dashboard-content chart" style="height: 23em; position: relative; display: block; width: 50%;">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
                </canvas>
            </mat-card>
        </div>


        <mat-card class="dashboard-content table-parent-container">
            <div fxLayout="row" fxLayoutAlign="space-between center ">
                <div fxLayout="row" style="width: 60%;">
                    <mat-form-field appearance="standard" style="width: 30%; padding: 0 1.2em;">
                        <mat-label>Site</mat-label>
                        <input type="text" matInput (keyup)="update_filter_sites()" [(ngModel)]="filter_site" [matAutocomplete]="auto">
                        <button *ngIf="filter_site" matSuffix mat-icon-button aria-label="Clear" (click)="clear_filter_site()">
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="display_site_autocomplete" (closed)="apply_filter()">
                            <mat-option *ngFor="let option of filter_site_list" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                    <mat-form-field appearance="standard" style="width: 30%; padding: 0 1.2em;">
                        <mat-label>SSID</mat-label>
                        <input matInput (keyup)="apply_filter()" placeholder="Ex. Wlan" #input [(ngModel)]="filter_ssid">
                        <button *ngIf="filter_ssid" matSuffix mat-icon-button aria-label="Clear" (click)="clear_filter_ssid()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>

                    <mat-form-field appearance="standard" style="width: 15%; padding: 0 1.2em;">
                        <mat-label>REPORTING AP</mat-label>
                        <input matInput (keyup)="apply_filter()" placeholder="Ex. Wlan" #input [(ngModel)]="filter_ap_mac">
                        <button *ngIf="filter_ap_mac" matSuffix mat-icon-button aria-label="Clear" (click)="clear_filter_ap_mac()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>

                    <mat-form-field appearance="standard" style="width: 15%; padding: 0 1em;">
                        <mat-label>BSSID</mat-label>
                        <input matInput (keyup)="apply_filter()" placeholder="Ex. Wlan" #input [(ngModel)]="filter_bssid">
                        <button *ngIf="filter_bssid" matSuffix mat-icon-button aria-label="Clear" (click)="clear_filter_bssid()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>

                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-slide-toggle [(ngModel)]="showInactive" (change)="apply_filter()" style="margin-bottom: .5em;">
                        Show Inactive APs
                    </mat-slide-toggle>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-paginator #paginator [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" aria-label="Select page">
                    </mat-paginator>
                </div>
            </div>
            <div class="table-container">
                <table mat-table [dataSource]="rogueDataSource" matSort>

                    <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

                    <!-- SITE Column -->
                    <ng-container matColumnDef="site_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%;"> SITE </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="{'not_active': element.last_seen==0}">
                            {{element.site_name}} </td>
                    </ng-container>

                    <!-- SSID Column -->
                    <ng-container matColumnDef="ssid">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%;"> SSID </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="{'not_active': element.last_seen==0}">
                            {{element.ssid}} </td>
                    </ng-container>

                    <!-- BSSID Column -->
                    <ng-container matColumnDef="bssid">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%;"> BSSID </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="{'not_active': element.last_seen==0}">
                            {{element.bssid}} </td>
                    </ng-container>
                    <!-- REPORTING AP Column -->
                    <ng-container matColumnDef="ap_mac">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%;"> REPORTING AP </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="{'not_active': element.last_seen==0}">
                            {{element.ap_mac}} </td>
                    </ng-container>

                    <!-- LAN Column -->
                    <ng-container matColumnDef="lan">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;" style="width: 6%; text-align: center;">
                            LAN
                            <span class="material-icons" style="font-size: medium;" matTooltip="Not Authorized APs detected on the LAN" matTooltipHideDelay="100">
                                help_outline </span>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="material-icons table-rogue" *ngIf="element.rogue_type.lan" [ngClass]="{'not_active': element.last_seen==0}">
                                warning
                            </span>
                        </td>
                    </ng-container>
                    <!-- HONEYPOT Column -->
                    <ng-container matColumnDef="honeypot">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;" style="width: 6%; text-align: center;">
                            HONEYPOT
                            <span class="material-icons" style="font-size: medium;" matTooltip="Not Authorized APs broadcasting your SSID" matTooltipHideDelay="100">
                                help_outline </span>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="material-icons table-rogue" *ngIf="element.rogue_type.honeypot" [ngClass]="{'not_active': element.last_seen==0}">
                                warning
                            </span>
                        </td>
                    </ng-container>
                    <!-- SPOOF Column -->
                    <ng-container matColumnDef="spoof">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;" style="width: 6%; text-align: center;">
                            SPOOF
                            <span class="material-icons" style="font-size: medium;" matTooltip="Not Authorized APs using one of your BSSIDs" matTooltipHideDelay="100">
                                help_outline </span>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="material-icons table-rogue" *ngIf="element.rogue_type.spoof" [ngClass]="{'not_active': element.last_seen==0}">
                                warning
                            </span>
                        </td>
                    </ng-container>
                    <!-- FIRST SEEN Column -->
                    <ng-container matColumnDef="first_seen">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%;"> FIRST SEEN </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="{'not_active': element.last_seen==0}">
                            <span *ngIf="element.duration < 3600000">Less than 1 hour ago</span>
                            <span *ngIf="element.duration >= 3600000 && element.duration < 7200000 ">1 hour ago</span>
                            <span *ngIf="element.duration >= 7200000 && element.duration < 86400000 ">{{element.duration
                                / (1000 * 3600) | number:'1.0-0'}} hours ago</span>
                            <span *ngIf="element.duration >= 86400000 && element.duration < 172800000">1 day ago</span>
                            <span *ngIf="element.duration >= 172800000 && element.first_seen > 0">{{(element.duration /
                                86400000) | number:'1.0-0'}} days ago</span>
                            <span class="material-icons table-duration" *ngIf="element.first_seen > 0 && element.duration > (account.min_age * 86400000) && (element.rogue_type.lan || element.rogue_type.honeypot || element.rogue_type.spoof)">
                                schedule
                            </span>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


                </table>
            </div>
        </mat-card>
    </div>
</div>